html
    head
        title Welcome
    body
        h1 NumerIt
        h3 What is your favorite number?
        h4 I want to know...
        a(href="/signup") Sign Up
        span  | 
        a(href="/login") Log In
        span  | 
        a(href="/welcome") My Number