html
    head
        title Welcome
    body
        h2 Hi #{id}, Welcome to NumerIt
        h3 Your favorite number is:
        h3 #{num}
        a(href="/setnum") change
        br
        br
        a(href="/logout") Logout
        br
        a(href="/delete") Delete account